body {
    display: flex;
    margin: 0;
    padding-top: 10px;
    background-color: #1F2937;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-button {
    background-color: #3882F6;
    color: #E5E7EB;
    height: 30px;
    width: 120px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header-links {
    display: flex;
    gap: 70px;
}

.hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.hero-image {
    display: flex;
    height: 250px;
    width: 500px;
    border: 1px solid wheat;
    background-color: grey;
    justify-content: center;
    align-items: center;
}

.hero-content p {
    font-size: 18px;
    color: #E5E7EB;
    width: 400px;
    margin-top: 0;
}

.hero-content h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 300px;
    margin-bottom: 0;
}

.info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    padding-top: 50px;
}

.info-images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    margin-bottom: 100px;
}

.info-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding-left: 20px;
}

.info-image p {
    text-align: center;
    width: 210px;
}

.image {
    height: 200px;
    width: 200px;
    border: solid 3px #1F2937;
    border-radius: 15%;
}



.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    width: 100%;
    height: 300px;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    width: 800px;
}

.quote .quote-credit {
    align-self: flex-end;
}

.call-to-action-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 300px;
}

.call-to-action {
    background-color: #3882F6;
    border-radius: 10px;
    width: 1000px;
    height: 125px;
}



